* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
#overlay {
    height: 75%;
    width: 60%;
    padding: 25vh 20vw 0;

    background-image: linear-gradient(#000 20%, #0005 20%), linear-gradient(#0005 80%, #000 80%);
    position: absolute;

    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#overlay h1 {
    text-align: center;
    font-size: 4vh;
    margin-bottom: 3vh;
    color: #ffae00;
}
#overlay h2 {
    text-align: center;
    font-size: 2.1vh;
    margin-bottom: 3vh;
}
#overlay p {
    text-align: center;
    margin: auto;
    margin-bottom: 3vh;
    line-height: 2.5vh;
    width: 60vw;
    transition: 1s;
}
#overlay p:hover {
    color: #ffae00;
}
#overlay form {
width: 60vw;
margin: auto;
text-align: center;
/* border: 2px solid #363d55; */
}
#overlay .cell {
    margin: auto;
    width: 38vw;
    /* border: 2px solid #305ae4; */
}
#overlay label {
    font-size: 1.8vh;
    vertical-align: middle;
    text-align: right;
}
#overlay label:hover {
    color: #ffae00;
}
#overlay input{
    font-family: inherit;
    font-size: 1.5vh;
    font-weight: 600;
    padding-left: 1.1vw;
    color: #000000;
    border-radius: 1.2vh 1.2vh 1.8vh 1.8vh;
    border: 2px solid #363d55;
    background-color: #dddddd7a;
}
#overlay input:focus {
    border: 2px solid #ffae00;
    background-color: #ffffffbd;
}
/* #overlay input:invalid {
    border: 2px solid #ff0000;
    background-color: #ffffffbd;
} */
#overlay input:valid {
    border: 2px solid #ffae00;
    background-color: #ffffffbd;
}
::placeholder {
    font-weight: 100;
    color: #2e2e2e;
}
#overlay #first-name, 
#overlay #last-name,
#overlay #phone-number,
#overlay #card-number {
    height: 3.5vh;
    vertical-align: middle;
    width: 29vw;
    outline-style: none;
}
.first-name, 
.last-name,
.phone-number,
.card-number {    
    text-align: right;
    margin-bottom: 1.5vh;
}
#overlay button {
    cursor: pointer;
    height:4.5vh;
    width: 18vw;
    margin-top: 2vh;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.9vh;
    border: 2px solid #ffffff;
    border-radius: 1.5vh;
    background-color: #ffae00;
    transition: .25s;
}
#overlay button:hover {
    border: 2px solid #000;
    background-color: #363d55;
    color: #ffae00;

}


#background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
#background iframe {
    height: 120vh;
    margin-top: -10vh;
}