:root {
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  position: fixed;
  z-index: 1000;
}
.navbar ul {
  margin: 3vh 0 0;
  padding: 0;
  padding-left: 1em;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  list-style: none;
  margin: 0 2em;
}
.navbar ul li img {
  width: 5vw;
  filter: invert(1);
  transition: 0.25s linear;
}
.navbar ul li img:hover {
  filter: invert(0);
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}
.navbar ul li a:hover {
  color: #000;
}

.section {
  height: 100vh;
  width: auto;
  font-size: 5vh;
  text-align: right;
  color: white;
  box-sizing: border-box;
}
.section > * {
  position: relative;
  z-index: 999;
}
.section#presentation {
  padding: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.section#presentation h1 {
  font-size: 1em;
  margin: 0;
  color: #389cff;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section#presentation a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
  margin-top: 3em;
  font-weight: 600;
  transition: 0.1s;
  text-shadow: 0 0 5px #389cff;
}
.section#presentation a:hover {
  color: #0583ff;
  text-shadow: 0 0 10px #fff;
}
.section#reviews {
  position: relative;
}
.section#reviews .user-reviw {
  width: 30vw;
  height: 13vh;
  position: relative;
  top: 20vh;
  left: 5vw;
}
.section#reviews .user-reviw .photo-user {
  width: 6vh;
  height: 6vh;
  border-radius: 6vh;
  background-image: url(images/user-1.jpg);
  background-repeat: no-repeat;
  background-size: 6.5vh;
}
.section#reviews .user-reviw .comment-user {
  width: 26vw;
  height: 10vh;
  border-radius: 0 2vh 2vh;
  background-color: #fff;
  padding: 0.5em 1em;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #000;
  font-size: 0.4em;
  text-align: left;
}
.section#reviews .user-reviw.two {
  position: relative;
  left: 65vw;
}
.section#reviews .user-reviw.two .photo-user {
  background-image: url(images/user-2.jpg);
  background-size: 8vh;
  position: absolute;
  right: 0;
}
.section#reviews .user-reviw.two .comment-user {
  border-radius: 2vh 0 2vh 2vh;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #000;
  font-size: 0.4em;
  text-align: left;
}
.section#reviews .user-reviw.three .photo-user {
  background-image: url(images/user-3.jpg);
  background-size: 9vh;
}
.section#reviews form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section#reviews form h2 {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}
.section#reviews form textarea {
  width: 60vw;
  margin: auto;
  outline: none;
  border: 0;
  border-radius: 1vw 1vw 0;
  padding: 1em;
}
.section#reviews form button {
  width: 30vw;
  height: 6vh;
  margin: 2vh auto 4vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.6em;
  font-weight: 600;
  background-color: #0069d1;
  border: 0;
  border-radius: 1vw;
}
.section#reviews form button:hover {
  background-color: #004f9e;
  color: #fff;
}
.section#apply {
  padding-top: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section#apply .product {
  width: 10vw;
  height: 15vw;
  border: 1px solid #fff;
  border-radius: 1vh;
  overflow: hidden;
  text-align: center;
}
.section#apply .product .image {
  height: 10vw;
  background-image: url(images/skies.webp);
  background-repeat: no-repeat;
  background-size: contain;
}
.section#apply .product .name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 5vw;
}
.section#apply .product .name a {
  display: inline-block;
  text-decoration: none;
  color: #0069d1;
  font-size: 0.6em;
  font-weight: 600;
}
.section#apply .product .name a:hover {
  color: #fff;
}
.section#apply .product:hover {
  border: 1px solid #0069d1;
}
.section#apply .product.two .image {
  background-image: url(images/helmet.webp);
}
.section#apply .product.three .image {
  background-image: url(images/goggles.webp);
}
.section#apply .product.four .image {
  background-image: url(images/backpack.webp);
}
.section#apply .product.five .image {
  background-image: url(images/Boots.webp);
}/*# sourceMappingURL=sections.css.map */