html {
    --color-one: #222;
    --borderColor: #999;
    --accentColor: #fe0000;
    --mainFont: 'petahja';
}
body {
    font-family: var(--mainFont);
}

/* BEM - COMMON */

img {
    width: 100%;
}
/* BEM - COMPONENTS */

.container {
    margin: 0 2em;
}
.content-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    .content-main h1 {
        font-size: 3em;
        margin: .5em 0;
    }
    
    .content-main h2, .content-main h3 {
        font-size: 2em;
        margin: .5em 0;
    }
    
    .content-main__header {
        margin-bottom: 1em;
    }
    
    .content-main__news {
        border-bottom: 2px solid var(--borderColor);
        padding-bottom: 1.5em;
        margin-bottom: 10em;
    }
    .content-main__news-wrapper {
        border-top: 2px solid var(--accentColor);
        position: relative;
    }
    
    .content-main__news-wrapper .content-main__news {
        margin-top: 2em;
    }
    .content-main .news-wrapper__label {
        background-color: #fff;
        position: absolute;
        top: -1.2em;
        padding-right: 1em;
        color: var(--accentColor);
        font-size: 2em;
    }
    .content-main__news p {
        font-size: 1.25em;
        text-align: justify;
    }    
    .content-main__news a {
        text-decoration: none;
        font-family: var(--mainFont);
        font-size: 1.25em;
        color: var(--color-one);
        position: absolute;
        bottom: .5em;
        right: 0;
    }
    .content-main__news a:hover {
        color: var(--accentColor);    
    }
     .content-main__news {
        position: relative;
     }
   
/* Small Screen Size */
@media screen and (max-width: 767px) {

    .content-main__news:nth-child(2),
    .content-main__news:nth-child(3) {
            margin-bottom: 0;
        }
}

/* Medium Screen Size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content-main {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        }
    .content-main__news:nth-child(2) {
        width: 100%;
        margin-bottom: 0;
    }
    .content-main__news:nth-child(3), 
    .content-main__news:nth-child(4) {
        display: inline-block;
        width: 48.5%;
    }
    .content-main__paragraphs p {
        columns: 2;  
    }
    .content-main__news img {
        margin-bottom: 1em;
    }
}

/* Large Screen Size */

@media screen and (min-width: 1024px) {
    .content-main {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
    }
    .content-main__header {
        width: 100%;
        order: -2;
        text-align: center;
    }
    .content-main__news-wrapper {
        width: 48%;
    }  
    .content-main__news h3 {
        margin-top: 1em;
    }
    .content-main__news:nth-child(3),
    .content-main__news:nth-child(4) {
        width: 24%;
    }
    .content-main__news:nth-child(3) {
        order: -1;
    }
    .content-main__paragraphs p {
        columns: 2;
    }
    img {
        width: 100%;
        height: 35em;
        object-fit: cover;
    }
}