@mixin red-border {
    border: 1px solid red;
}

.swiper {
    width: 90vw;
    height: 85vh;
    margin-top: 6vh;
    // @include red-border;
    
    --swiper-pagination-bottom: 2vh;        
    --swiper-theme-color: #ff6868;
    // --swiper-navigation-color: red;
    
    .swiper-wrapper {
        
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            transition: .5s;

            img {
                height: 60vh;
                width: auto;
                aspect-ratio: 5 / 7;
                box-shadow: 0 0 7px 5px #dddddd;
            }
        }
    }  

}
@media screen and (min-width: 1500px) {
    .swiper-slide-active, 
    .swiper-slide-active+.swiper-slide+.swiper-slide {
        opacity: .3;
        scale: .8;
    }
    
}