@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
} 
body {
    background-color: #7a7a7a;
}
.navbar {
    background-color: #444444;
    width: 1200px;
    margin: auto;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    font-family: 'Ropa Sans', sans-serif;
    letter-spacing: .3px;
    vertical-align: middle;
}
a {
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    color: #fff;
    margin: -3px 0 -2px;
}
.navbar>ul.main>li>a:hover {
    background-color: #3c3c3c;
    color: #ffd000;
}
.navbar>ul.client>li>a:hover {
    color: #ffa200;
}
.logo {
    width: 35px;
    user-select: none;    
}
.navbar>ul.branding {
    display: inline-block;
    margin-right: 50px;
    margin-left: 30px;
}
.navbar>ul.branding>li:first-child {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: -20px;
}
.navbar>ul.branding>li:nth-child(2) {
    font-family: 'Patua One', cursive;
    font-size: 18px;
    user-select: none;
}
.navbar>ul.branding>li:last-child::before {
    content: "🕿";
    color: #fff;
    margin-right: -10px;
}
.navbar>ul.branding>li.tel>a:hover {
    color: #ffa200;
}
.navbar>ul.branding>li:last-child:hover::before {
    content: "🕿";
    color: #ffa200;
}
.navbar>ul.main {
    display: inline-block;
}
.navbar>ul.client {
    display: inline-block;
    margin-left: 170px;
}

